@model List<RE.Models.Entities.Category>
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-6 col-md-offset-2">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Kategori Adı</th>
                    <th>Açıklama</th>
                    <th>Düzen</th>
                </tr>
            </thead>
            <tbody>
                @{ int sayac = 0;}
                @foreach (var item in Model)
                {
                    sayac++;
                    <tr>
                        <th>@sayac</th>
                        <td>@item.CategoryName</td>
                        <td>@item.Description</td>
                        <td>
                            <a href="@Url.Action("Edit", "Category", new {id = item.CategoryID})" class="btn btn-info btn-block">Düzenle</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>